# Database (used by docker-compose.yml)
POSTGRES_USER=askme
POSTGRES_PASSWORD=askme
POSTGRES_DB=askme

# Database Connection (used by backend)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

# JWT
JWT_SECRET=askme
JWT_EXPIRATION=askme

# External API
REQRES_BASE_URL=askme
REQRES_API_KEY=askme

# Server
PORT=askme
CORS_ORIGIN=askme
NODE_ENV=askme

# Frontend
NEXT_PUBLIC_API_URL=askme
